*{
    /* border: gold solid 1px; */

}
body {
    background-color: rgb(0, 107, 54);
}

main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blackjack-title {
    padding-top: 10vh;

}
#dealer-container {
    height: 30vh;
    /* width: 2vh; */
    border: gold solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

#dealer-div {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 30vh;
    padding-bottom: 5vh;

}

#players-container {
    min-height: 30vh;
    /* width: 2vh; */
    border: gold solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;

}

#player1-div {
    display: flex;
    /* justify-content: end; */
    align-items: end;
    height: 30vh;
    

}

.player-container {
    min-height: 30vh;
    border: blue solid 1px;
    width: 15vw;

}

/* Playing Cards */

.playing-card {
    height: 25vh;
}
